---
import Layout from '../layouts/Layout.astro';
import ContenedorJuegos from '../components/contenedorjuegos';

export const prerender = false;


// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
        
        <div class="section">
            <h1>Error 404</h1>
            <h2>La pagina que esta buscando no existe. Todavia...</h2>
            <img src="/Images/logocompleto.png" alt="Error 404" class="error-image">
            <div>
                <a href="/" class="btn">Volver al Inicio</a>
            </div>
        </div> 

        <div class="section">
            <h2>Accede a sugerencias de otros juegos</h2>
            <ContenedorJuegos client:load/>
        </div>
</Layout>