---
import Layout from '../layouts/Layout.astro';
import ContenedorJuegos from '../components/juegos/contenedorjuegos';


export const prerender = false;


// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <div class="section">
    <h1>Juegos</h1>
    <ContenedorJuegos url={"/api/juegos/getjuegos"} client:load />
    </div>

    <div class="section">
        <h1>Juegos de Accion</h1>
        <ContenedorJuegos url={"/api/juegos/getjuegoscategoria"} categoria={"Accion"}  client:load />
    </div>

    <div class="section">
        <h1>Juegos de Plataformas</h1>
        <ContenedorJuegos url={"/api/juegos/getjuegoscategoria"} categoria={"Plataformas"}  client:load />
    </div>

    <div class="section">
        <h1>Otros juegos</h1>
        <ContenedorJuegos url={"/api/juegos/getjuegoscategoria"} categoria={"Otro"}  client:load />
    </div>


</Layout>
