body {
    margin: 0;
    padding: 0;
    font-family: 'Melon Pop', sans-serif;
    background-color: #dad9d9;
    transition: background-color 0.3s ease, color 0.3s ease;

}

header {
    background-color: #333;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: 5px solid #242424
}

a {
    color: inherit;
    text-decoration: none;
}

p, a, label, input, button, li, select, textarea {
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
}

/*
header h1 {
    margin: 0;
    font-size: 3em;
    letter-spacing: 2px;
}

.headerblanco {
    background: linear-gradient(180deg, #ffffff, #e0e0e0, #cccccc);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

}

.headerrojo {
    background: linear-gradient(180deg, #ff6b6b, #cc0000, #8b0000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

}

.headernaranja {
    background: linear-gradient(180deg, #ffa500, #ff8c00, #ff6347);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

}*/

.headerlogotexto {
    width: 200px;
    height: auto;
    padding: 0;
    margin: 0;
}


header div {
    display: flex;
    align-items: center;
}

header nav {
    height: 100%;
    font-family: 'molot';
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    height: 100%;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 0 15px;
    font-family: sans-serif;
    display: flex;
    height: 100%;
    box-sizing: border-box;
    align-items: center;
    transition: all 0.3s ease;
    font-family: 'Molot', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
}

nav ul li a:hover {
    background-color: #555;
    color: #e9b517
}

header img {
    width: 66px;
    height: 100%;
    margin-bottom: 5px;
    padding-left: 10px;
}

footer {
  background-color:  #333;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100px;
  color: white;
  border-top: 5px solid #242424;
}

footer p {
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}   

.containerlogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh; /* 90% de la pantalla */
}

.containerlogin .formlogin {
    width: 100%;
    max-width: 400px; /* Ancho máximo para pantallas grandes */
}

.containerlogin .logo-register {
    width: 400px;
    height: auto;
    margin-bottom: 20px;
}

.sectionjuego {
    width: 70% !important;
    padding-bottom: 0 !important;
    width: 90%;
}

.section {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0 20px 0;
    width: 80%;
    transition: background-color 0.3s ease, color 0.3s ease;

}

.section h1, .section h2 {
    margin-top: 0;
    color: #9a1f1f;
    text-align: center;
    letter-spacing: 2px;
}

.sectionprincipal {
    margin-top: -10px; 
    width: 100%;
    background: rgba(0, 0, 0, 0.26);
    /*background-color: #e9b517;*/
    border-bottom: 5px solid #333;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sectionprincipal h1 {
    font-size: 45px;
    text-align: left;
    filter: drop-shadow(2px 2px 1px black);
    letter-spacing: 3px;
}

.sectionprincipal picture {
    display: block;
    margin: 20px auto;
    width: 50%;
    height: auto;
    border-radius: 8px;
}

.sectionprincipal img {
    width: 70%;
    margin: 0 15%;
    height: auto;
}

.sectionprincipal .principal-text {
    color: #333;
    margin-bottom: 20px;
    transition: all 0.3s ease;
    padding: 3em;
}

.sectionprincipal p {
    font-size: 18px;
    margin-bottom: 30px;
}

.containerjuegos {
    width: 100%;
    height: 80vh;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 15px;
    /*border: 3px solid #333;*/
}

.containerjuegos iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.containerjuegos-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerjuegos-section-columna {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 15px 0 15px 0;
    width: 100%;
}

.containerjuegos-section-columna2 {
    background-color: #595959;
}

.containerjuegos-section-columna1 {
    background-color: #e9b517;
    border-radius: 0 0 8px 8px;
}

.containerjuegos-section-columna ul {
    padding-left: 0;
    width: 100%;
    max-width: 600px;
}

.containerjuegos-section-columna li {
    list-style-type: none;
    padding: 5px 0;
}

.containerjuegos-sectioncontenido {
    display: flex;
    flex-direction: row ;
    align-items: center;
    gap: 1rem;
}


.containerportadasjuegos {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.containerportadasjuegos div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerimgportada {
    width: 300px;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    
}

.containerportadasjuegos picture img , .containerportadasjuegos picture  {
    width: 100%;    
    height: 200px;
    transition: transform 0.3s ease;
    position: relative;
}

.containerportadasjuegos picture img:hover, .containerportadasjuegos picture:hover {
    transform: scale(1.1);
}

.containertextojuego {
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    color: #333;
    width: 300px;
}

.containertextojuego p {
    margin: 0;
    font-size: 18px;
}

.section form#buscarjuego {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    margin: 20px;
    font-size: 16px;
}

.section form#buscarjuego input {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.btn {
    background-color: #333;
    color: #e9b517;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Molot', sans-serif;
    font-size: 16px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #555;
    color: #e9b517;
}

.bigbtn {
    font-size: 1.5em;
    padding: 15px 30px;
}

.formcont {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.formcont form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.formcont label {
    margin-bottom: 5px;
    font-weight: bold;
}   

.formcont input[type="text"], .formcont input[type="email"], .formcont select ,.formcont textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f5f5f5;
}

.formcont textarea {
    min-height: 250px;
}

.formcont-btns {
    display: flex;
    gap: 10px;
    width: 100%;
}

.formcont input[type="submit"], .formcont input[type="reset"] {
    width: 50%;
    font-size: 1.5em;
}

.formlogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);   
    width: 25%;
    position: relative;
    height: auto;
}

.formlogin div  {
    display: flex;
    flex-direction: column;
      width: 90%;
}

.formlogin label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}


.formlogin h2 {
    text-align: center;
    margin-bottom: 20px;
}

.formlogin input[type="text"], .formlogin input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f5f5f5;
  
}


.mensajeformloginsuccess {
    color: green;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.mensajeformloginerror {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

#slidercont {
    transition: background-color 0.3s ease, color 0.3s ease;}

.fondo-accion {
    background-color: #8f0d0d;
}

.fondo-plataformas {
    background-color: #1d025e;
}

.fondo-otros {
    background-color: #242424;
}


.slider {
width: 90%;
margin: auto;
overflow: hidden;
/*height: 750px;*/
}

.slider-elements {
    /*position: relative;*/
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    display: flex;
    width: calc(var(--slides-total, 1) * 100%);
    transition: transform 1.5s ease-in-out;
}

.slider-elements-no-transition {
    transition: none;
}

.slider-fondo {
    background-color: #333;
    padding: 2em 0;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
}


.slider li {
    /*position: absolute;
    top : 0;*/
    overflow: hidden;
    list-style-type: none;
    width: calc(100% / var(--slides-total, 1)); /*tamaño dinamico segun el número de slides*/
    flex: 0 0 calc(100% / var(--slides-total, 1));
    margin: 0px;
}

.slider li > a,
.slider li picture,
.slider li img {
    display: block;
    width: 100%;
}


.slider img {
border-radius: 8px;
width: 100%;
height: 600px;
}

.slider p {
    text-align: left;
    width: 100%;
    font-size: 18px;
    height: 30px;
}

.slider a {
    margin: auto;
}

.slider-textos {
    background-color: #ffffff27;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.slider-textos-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    color: white;
    margin-top: 1em;
    
}

.slider-textos h2 {
    text-align: center;
    color: rgb(230, 35, 35);
}

.slider-btn {
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    opacity: 0.5;
    background-color: black;
    border: none;
    color: white;
    padding: 15px 10px;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease;
    z-index: 10;}

.slider-btn:hover {
    opacity: 0.9;
}

.slider-btn-1 {
    left: 5px;
}

.slider-btn-2 {
    right: 5px;
}

#sliderh2 {
    color: #e9b517;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 0;
}

/*MODO OSCURO*/

.botonclaroscuro {  
    position: fixed;
    bottom: 50px;
    right: 10px;
    transition: all 0.3s ease;
    padding: 10px 15px;
    z-index: 1000;
    background-color: #424242;
}

.botonclaroscuro img {
    width: 100%;
    max-width: 35px;
    filter: invert(1);
    height: auto;
}

.botonclaroscuro:hover {
    transform: scale(1.04);
}


.modoscuro {
    background-color: #141414;
    color: white;
    transition: all 0.1s;
}

/*experimentos estilos modo oscuro*/
.modoscuro header {
    background-color: #222;
    color: white;
    border-bottom: 5px solid #000;
}

.modoscuro footer {
    background-color: #222;
    color: white;
    border-top: 5px solid #000;
}

.modoscuro .section {
    background-color: #3d3c3c;
    color: white;
}   

.modoscuro .sectionprincipal {
    background-color: #e9b517;
    color: white;
}

.modoscuro input[type="text"], .modoscuro form#buscarjuego input[type="text"], .modoscuro input[type="email"], .modoscuro select, .modoscuro textarea {
    background-color: #595959;
    color: white;
    border: 1px solid #444;
}

.modoscuro .sectionprincipal h1 {
    color: #9a1f1f !important;
}

.modoscuro .section h1, .modoscuro .section h2 {
    color: #e9b517;
}

.modoscuro .btn {
    background-color: #1c1c1c;
    color: #e9b517;
}

.modoscuro .botonclaroscuro {
    background-color: #252525 !important;
}

.modoscuro .botonclaroscuro:hover {
    background-color: #333 !important;
}

.modoscuro .containertextojuego {
    color: white;
}