---
import Style from "../components/style.css"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
        <link rel="stylesheet" href={Style} />
		<meta name="generator" content={Astro.generator} />
		<title>HyperReactionGames</title>
	</head>
	<body>
		<div class="containerlogin">
			<slot />
		</div>
	</body>
</html>

<style is:global>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}

	@font-face {
		font-family: 'molot';
		src: url('/Fonts/molot.otf') format('opentype');
		font-style: normal;
  	}

	h1, h2, h3, h4, h5, h6 {
		margin: 0;
		font-family: 'molot', sans-serif;
		letter-spacing: 2px;
		
	}
    


</style>
